<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}soci_all{% endblock %}</title>

	{% load staticfiles %}
	
	<script type="text/javascript" src="{% static "event/jquery-2.1.4.min.js" %}"></script>
	<script src="{% static "event/masonry/js/masonry_docs.min.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "event/masonry/css/masonry_docs.css" %}">

</head>

<body>
<div class="title">
	<h1><a href="/event">soci_all</a>{% block page_title %}
{% endblock %}</h1>
</div>

<div id="navigation">
	<ul style="list-style: none;">
		<li><a href="/event/new_event">create new event</a></li>
</div>

<hr>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>

<footer>
	<hr>
	<div class="footer">

	soci_all networks. 2015.<br>
	potrero, costa rica
	</div>
</footer>

</html>